ul { 
    width: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

ul li a{
    padding: .5rem 1rem;
    border-radius: 1rem 0 1rem 0;
}

.active-link {
    background-color: rgb(255, 145, 0);
}